<div class="p-4 h-dvh overflow-auto">
	<section class="grid gap-2 mt-17">
				<div class="grid mb-4">
					<div class="flex items-center mb-2">
						<h2 class="p-2 not-sm:flex-1 not-sm:justify-end sm:inline flex items-center sm:text-2xl text-xl font-medium">
							friends
							@if(friendsStore.friends().length){<span class="font-normal text-xl text-secondary-foreground/50">({{ friendsStore.friends().length}})</span>}
						</h2>
						<a routerLink="//find-user" class="text-primary font-normal text-xl ml-2 cursor-pointer">add friend</a>
					</div>
					<div class="w-full grid sm:flex items-center gap-3">
						<div class="w-full sm:w-1/2 md:w-1/3 relative">
							<input
								type="text"
								[(ngModel)]="searchQuery"
								hlmInput
								class="w-full py-6 px-12 hover:shadow-md shadow-accent"
								placeholder="search friends"
							>
							<span class="text-foreground/50">
								<ng-icon hlm name="iconoirSearch" class="absolute top-1/2 left-4 -translate-y-1/2 "/>
							</span>
						</div>
						<div class="flex gap-2 h-full">
							<brn-popover class="h-full">
								<button
									brnPopoverTrigger
									hlmBtn
									variant="outline"
									class="sm:h-full w-35 flex items-center justify-start"
								>
									sort by:
									<span class="justify-self-center flex-1">{{ sortQuery() }}</span>
								</button>
								<div hlmPopoverContent *brnPopoverContent="let ctx" class="m-4 p-2 grid gap-2 w-fit">
									<button type="button" hlmBtn variant="ghost" (click)="sortQuery.set('a-z')">a-z</button>
									<button type="button" hlmBtn variant="ghost" (click)="sortQuery.set('z-a')">z-a</button>
									<button type="button" hlmBtn variant="ghost" (click)="sortQuery.set('latest')">latest</button>
									<button type="button" hlmBtn variant="ghost" (click)="sortQuery.set('first')">first</button>
								</div>
							</brn-popover>
							<div routerLink="/friend-requests" hlmBtn variant="outline" class="sm:h-full w-full sm:w-fit">friend requests</div>
						</div>
					</div>
				</div>
				<div class="grid xl:grid-cols-3  sm:grid-cols-2 gap-2 md:gap-4">
					@for (friend of friendsStore.friends() | filterFriendList: searchQuery() | sortFriendList: sortQuery() ; track friend.friendOf.id) {
						@defer(hydrate on hover){
							<article 
								class="w-full flex items-center gap-4 border p-5 sm:p-6 rounded-xl transition-all 
								hover:scale-[100.5%] hover:bg-accent/25 animate-out"
							>
								<app-avatar 
									[routerLink]="'/profile/' + friend.friendOf.id"
									[avatarUrl]="friend.friendOf.profile.avatar"
									[fallback]="friend.friendOf.profile.displayName"
								/>
								<div class="grid flex-1 gap-1">
									<h3 class="text-xl font-medium">{{ friend.friendOf.profile.displayName }}</h3>
									<span class="text-sm">{{'#' + friend.friendOf.username}}</span>
								</div>
								<time class="justify-self-end text-sm md:text-base">friends since {{ friend.createdAt | date:'dd.MM.yyyy' }}</time>
								<div class="w-fit flex items-center justify-end">
									<hlm-alert-dialog>
										<button class="contents" brnAlertDialogTrigger>
											<app-icon-button brnAlertDialogTrigger variant="destructive" tooltipContent="remove friend">
												<ng-icon hlm name="iconoirUserXmark"/>
											</app-icon-button>
										</button>
										<hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
											<hlm-alert-dialog-header>
												<h3 
													class="grid justify-items-center" 
													hlmAlertDialogTitle
												>
													Are you absolutely sure to remove friend 
													<span class="text-destructive">#{{ friend.friendOf.username }} ?</span>
												</h3>
											</hlm-alert-dialog-header>
											<hlm-alert-dialog-footer>
												<button hlmAlertDialogCancel class="w-full" (click)="ctx.close()">Cancel</button>
												<button hlmAlertDialogAction class="w-full" (click)="removeFriend(friend.friendOf.id, ctx)">remove friend</button>
											</hlm-alert-dialog-footer>
										</hlm-alert-dialog-content>
									</hlm-alert-dialog>
								</div>
							</article>
						}
					} @empty {
						<h1 class="text-lg sm:text-2xl font-medium text-foreground/20 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">you are not alone!</h1>
					}
					@if(isLoading()){
						@for (item of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10]; track $index) {
							<article class="w-full flex items-center gap-4 border p-5 sm:p-6 rounded-xl">
								<hlm-skeleton class="h-10 w-10 rounded-full "/>
								<div class="">
									<hlm-skeleton class="h-4 w-40"/>
								</div>
							</article>
						}
					}
				</div>
	</section>
</div>
