<div class="flex h-dvh relative overflow-hidden">
	@defer(hydrate on hover) {
		<app-sidebar
			[currentUserId]="currentUser()!.id"
			[currentProfile]="currentProfile()"
			[sidebarItems]="sidebarItems"
		/>
	}
	<div class="flex flex-col w-full">
		<div class="absolute top-0 z-100 flex items-center gap-3 w-full border-b min-h-17 p-5 bg-background/70 backdrop-blur-lg">
			@defer (hydrate on hover) {
				<hlm-sheet side="left" class="md:hidden">
					<button brnSheetTrigger type="button" class="h-6">
						<ng-icon hlm size="base" name="iconoirMenu"/>
					</button>
					<hlm-sheet-content 
						[hasCloseButton]="false"
						*brnSheetContent='let ctx' 
					>
						<hlm-sheet-header class="items-start relative">
							<div class="h-30 py-5 grid gap-3">
								<hlm-avatar variant="large">
									<img 
										[src]="currentProfile().avatar" 
										alt="current user avatar" 
										hlmAvatarImage
									/>
									<span 
										class="text-white bg-destructive text-2xl" 
										hlmAvatarFallback
									>
										{{ currentProfile().displayName | firstLetter }}
									</span>
								</hlm-avatar>
								<h3>{{ currentProfile().displayName }}</h3>
								<button class="absolute top-0 right-0 flex transition" type="button">
									<app-theme-switcher/>
								</button>
							</div>
						</hlm-sheet-header>
						<div class="mt-2 grid gap-2">
							@for (item of sidebarItems.communication; track $index) {
								<a 
									hlmBtn 
									variant="ghost" 
									routerLink="{{ item.route }}"
									routerLinkActive="bg-primary text-background"
									class="flex justify-start gap-3 w-full"
								>
									<ng-icon hlm [name]="item.icon" size="1.7rem"/>
									{{ item.title }}
								</a>
							}
							<brn-separator hlmSeparator class="my-3"/>
							@for (item of sidebarItems.other; track $index) {
								<a 
									hlmBtn 
									variant="ghost" 
									routerLink="{{ item.route }}"
									routerLinkActive="bg-primary text-background"
									class="flex justify-start gap-3 w-full"
								>
									<ng-icon hlm [name]="item.icon" size="1.7rem"/>
									{{ item.title }}
								</a>
							}
							<a 
								hlmBtn 
								variant="ghost" 
								routerLink="settings"
								routerLinkActive="bg-primary text-background"
								class="flex justify-start gap-3 w-full"
							>
								<ng-icon hlm name="iconoirSettings" size="1.7rem"/>
								settings
							</a>

						</div>
					</hlm-sheet-content>
				</hlm-sheet>
				<div class="flex">
					<p>{{ currentPage() }}</p>
				</div>
			}
		</div>
		<div class="h-full">
			<router-outlet/>
		</div>
	</div>
	<hlm-toaster/>
</div>
